/* *::before::after {
  box-sizing: border-box; }

.MrgSty {
  margin-top: 1.5rem; }

.hidden-button {
  border: #23c6c8 solid 0.5px;
  color: #fff; }

.hidden-button:hover {
  background-color: #23c6c8;
  color: #000; }

.color-out{
  background: #80ac53;
} */

.imgBG{
  background: rgb(2,0,36); 
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,142,166,0.7931547619047619) 27%, rgba(138,144,169,1) 42%, rgba(107,197,215,1) 67%);
}